tensorflow
tensorflow_datasets
tensorflow_hub
keras-tuner
scikit-learn
scipy
matplotlib
pyyaml
h5py
pandas
seaborn
pillow
pyspark
ipywidgets
repr
scipy
matplotlib
git+https://github.com/tensorflow/docs

#pip install -r requirements.txt