tensorflow
tensorflow_datasets
tensorflow_hub
git+https://github.com/tensorflow/docs
pydot
graphviz
keras-tuner
scikit-learn
scikit-image
scipy
matplotlib
pyyaml
h5py
pandas
seaborn
pillow
pyspark
repr
jupyterlab
ipywidgets
PrettyTable

git+https://github.com/matterport/Mask_RCNN
cython
opencv-python
imgaug
keras

#pip install -r requirements.txt